<div>
  <div class="contain-it">
    <h1>Outsource from a group of skilled freelancers</h1>
    <p>Connect with  top rated freelancers around your area.</p>
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="row">
          <div class="col-md-5 col-xs-12">
            <img src="/src/assets/Landing-page, more info/icons8-lock-480.png"><br>
            <p>Safe & Secure</p>
          </div>
          <div class="col-md-7 col-xs-12">
            <p>Payments are held in escrow unitl projects are
               completed, and both parties are happy with the outcome.
                All payments are digital, employers can pay freelancers
                 using a credit/debit card online, EFT or POS. User data is
                  stored on a distributed database for optimal runtime and security.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="row">
          <div class="col-md-5 col-xs-12">
            <img src="/src/assets/Landing-page, more info/icons8-low-price-100.png"><br>
            <p>Competitive rates</p>
          </div>
          <div class="col-md-7 col-xs-12">
            <p>Due to our high supply of skilled freelancers,
               employers can get competitive rates. No more braking
                the bank to get a project done. Our commission rates
                 our one of the lowest in the industry
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="row">
          <div class="col-md-5 col-xs-12">
            <img src="/src/assets/Landing-page, more info/icons8-place-marker-100.png"><br>
            <p>Discover freelancers around your area</p>
          </div>
          <div class="col-md-7 col-xs-12">
            <p>Save time by using our platform to find the right freelancer for you.
               No more time consuming google searches with incomplete reviews.
                No more bad recommendations from friends and family.
                 Find the best freelancer for you around your area using our platform.
            </p>
          </div>
        </div>
      </div>
    </div>
    <button>Try For Free</button>
  </div>

</div>