<div class="jumbo-img">
  <div class="contain-it">

    <div class="row">
      <div class="col-md-5 col-xs-12">
        <h1 class="jumbo-main-head">Save time, find the right freelancer</h1>
        <p class="jumbo-caption-head">A directory of trusted freelancers on your finger tips. Freelancing is the new nine to five</p>
        <div class="row">
          <div class="col-md-12 col-xs-12"> 
            <input type="text" placeholder="what skills are you looking for?" class="jumbo-form-input">
            <button class="jumbo-form-button">Search</button>
          </div>
        </div>
         
          
      </div>
    </div>
  </div>
</div>

