.jumbo-img{
    background-image: url('/src/assets/Landing-page, Jumbotron/african-3399525_960_720.jpeg');
}

.jumbo-main-head{
    font-family: 'Poppins', sans-serif;
    font-size:40px;
    color:white;
    text-align: left;
    padding-top: 7%;
    padding-bottom: 6%;
}

.jumbo-caption-head{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: white;
    text-align: left;
    padding-bottom: 3%;
}

.jumbo-form-input{
    font-family:'Raleway', sans-serif;
    text-align:center;
    font-size: 14px;
    color: #8249B3;
    background-color: white;
    border: none;
    /*border-width: thin;*/
    line-height:38px;
    width: 70%;
    margin-bottom: 10%;
}

.jumbo-form-button{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border:none;
    color: white;
    background-color:#8249B3;
    font-size:18px;
    height: 38px;
    width: 30%;
    margin-bottom:10%;
    
    ​-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.jumbo-form-button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

