<div class="footer-bk">
    <div class="contain-it">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <img src="/src/assets/Logos/3.png" class="work-logo">
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <h1 class="footer-main-head">PRODUCT</h1>
                        <a href="#" class="footer-link"><p>About</p></a>
                        <a href="#" class="footer-link"><p>Team</p></a>
                        <a href="#" class="footer-link"><p>Careers</p></a>
                        <a href="#" class="footer-link"><p>Blog</p></a>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <h1 class="footer-main-head">SUPPORT</h1>
                        <a href="#" class="footer-link"><p>How it works</p></a>
                        <a href="#" class="footer-link"><p>Trust & Safety</p></a>
                        <a href="#" class="footer-link"><p>Online Support</p></a>
                        <p class="footer-link">info@workmate.app</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <h1 class="footer-main-head">CONTACT US</h1>
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <p>
                                13th road<br>
                                Noordwyk<br>
                                Midrand<br>
                                1686<br>
                                South Africa
                        </p>
                        <div class="row social-icons-group">
                            <div class="col-md-3 col-xs-3">
                                <a href="#"><img src="/src/assets/social media/icons8-facebook-f-480.png" class="social-icons"></a>
                            </div>
                            <div class="col-md-3 col-xs-3">
                                <a href="#"><img src="/src/assets/social media/icons8-instagram-480.png" class="social-icons"></a>
                            </div>
                            <div class="col-md-3 col-xs-3">
                                <a href="#"><img src="/src/assets/social media/icons8-twitter-480.png" class="social-icons"></a>
                            </div>
                            <div class="col-md-3 col-xs-3">
                                <a href="#"><img src="/src/assets/social media/icons8-linkedin-480.png" class="social-icons"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <p>41 Juta St<br>
                            Braamfontein<br>
                            Johannesburg<br>
                            2001<br>
                            South Africa</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="line">
    <p class="copy-right">&copy; 2019 workmate , All Rights Reserved</p>
</div>